.cardHeading {
    font-size:16px;
    font-weight: 700;
    line-height: 3;
}

.cardContent {
    font-size:14px;
    line-height: 2;
    color: #cbd6e2;
    cursor: pointer;
    font-family: AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;

    
}

.cardContent:hover {
   color: dodgerblue;
}